/*
COLORS:

- Light green: #7ed56f
- Medium green: #55c57a
- Dark green: #28b485

WE DONT USE THE RESET or NORMALIZE
- The browser nowadays is getting better and better
- They are now more consistent in the way they render a website
- So that no longer really necessary !!!

=> We just need some simple reset using universal selector

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
- By default, browser will apply a certain margin or padding on an element.
- The `box-sizing: border-box` helps the "border" and "padding" are no longer added
to the total width or the total height of the element
*/

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/*
We dont set font with "*" (universal selector)
because the inheritance will help us do this instead
*/

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #7ed56fcc,
        #28b485cc),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/*
The ABSOLUTE positioning needs to have a reference.
The reference is the first element with the RELATIVE position that it can find.
*/

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/*
Block elements occupy the entire width that they have available
They also create line breaks after and before theme
*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0;
}

/*
To make a psuedo-element appears on the page, we need to specify 'content' property
*/

.btn-animated {
    animation-name: moveUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards;
}

/*
Backwards property will automatically apply styles up the zero percent
before the animation starts
*/