/*
COLORS:

- Light green: #7ed56f
- Medium green: #55c57a
- Dark green: #28b485

WE DONT USE THE RESET or NORMALIZE
- The browser nowadays is getting better and better
- They are now more consistent in the way they render a website
- So that no longer really necessary !!!

=> We just need some simple reset using universal selector

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
- By default, browser will apply a certain margin or padding on an element.
- The `box-sizing: border-box` helps the "border" and "padding" are no longer added
to the total width or the total height of the element
*/
html {
  font-size: 62.5%; }

/*
REM are not supported below IE9
Now 1rem = 10px for easy to calculate
But when we do this, we actually override the browser font-size
And it not good when the user try to set the browser or device font-size, it always get 10px
So for the best practice, we set it to percentage of (10/16) 62.5% to allow user to zoom in or out the page
*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/*
We dont set font with "*" (universal selector)
because the inheritance will help us do this instead
*/
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

/*
The ABSOLUTE positioning needs to have a reference.
The reference is the first element with the RELATIVE position that it can find.
*/
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

/*
Block elements occupy the entire width that they have available
They also create line breaks after and before theme
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0; }

/*
To make a psuedo-element appears on the page, we need to specify 'content' property
*/
.btn--animated {
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

/*
Backwards property will automatically apply styles up the zero percent
before the animation starts
*/
